@import 'nib'

@import 'vendor/jquery.pnotify.default'
@import 'vendor/animate'


// Bootstrap variables.
baseFontSize = 14px
baseLineHeight = 20px
baseBorderRadius = 4px
textColor = #333	// This itself derived from @grayDark
linkColor = #08c
